node_modules
.env
.DS_Store

# Remix
/.cache
/build

# Cloudflare
.wrangler
.dev.vars
worker-configuration.d.ts

# Playwright
/test-results
/playwright-report

# Remix stacks
/package-lock.json

# DB file
dev.sqlite3

# python
__pycache__/